* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  transition: 0.3s linear; }

html {
  overflow-x: hidden;
  scroll-behavior: smooth; }

.header {
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header .header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%; }
    .header .header-container .logo img {
      width: 200px; }
    @media (max-width: 980px) {
      .header .header-container .nav {
        display: none; } }
    .header .header-container .nav ul {
      display: flex;
      justify-content: center;
      align-items: center; }
      .header .header-container .nav ul li {
        display: inline-block;
        margin: 0 1rem;
        padding: 0.5rem 1rem;
        color: rgba(255, 255, 255, 0.7);
        font-weight: bold;
        position: relative;
        text-transform: capitalize;
        cursor: pointer; }
        .header .header-container .nav ul li a {
          color: rgba(255, 255, 255, 0.7); }
          .header .header-container .nav ul li a::before {
            content: "";
            position: absolute;
            bottom: 0;
            width: 0%;
            border-radius: 1rem;
            height: 5px;
            background-color: #FFF;
            transition: .5s; }
          .header .header-container .nav ul li a:hover::before {
            width: 70%;
            color: #FFF; }
    .header .header-container .lat-nav {
      transform: translateX(100%);
      position: absolute;
      top: 70px;
      right: 0;
      width: 70%;
      height: 500px;
      padding: 1rem 2rem;
      border-radius: 0 0 0 5px;
      box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
      background-color: #FFF; }
      .header .header-container .lat-nav ul li {
        padding: 1rem 0; }
        .header .header-container .lat-nav ul li a {
          cursor: pointer;
          color: #000; }
    .header .header-container .open-close {
      transform: translatex(0);
      transition: .3s ease; }
    .header .header-container .menu {
      display: none;
      color: #FFF;
      font-size: 1.8rem;
      position: absolute;
      top: 1rem;
      right: 2rem;
      z-index: 1000; }
      @media (max-width: 980px) {
        .header .header-container .menu {
          display: block; } }
      .header .header-container .menu i {
        color: #C21A1A; }
  .header .whatsapp {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    right: 2rem;
    bottom: 8%;
    color: #FFF;
    background-color: #4EC95C;
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 200; }
    .header .whatsapp:hover {
      color: #4EC95C;
      background-color: #FFF; }

.sticky {
  background-color: #FFF;
  box-shadow: 1px 10px 25px 0 rgba(0, 0, 0, 0.3); }
  .sticky .header-container .nav ul li a {
    color: #27282D; }
    .sticky .header-container .nav ul li a:hover {
      color: #C21A1A; }

main .swiper-wrapper {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  main .swiper-wrapper .swiper-slide {
    height: 100%;
    width: 100%;
    position: relative; }
    main .swiper-wrapper .swiper-slide img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    main .swiper-wrapper .swiper-slide .hero-content {
      position: absolute;
      top: 30%;
      left: 10%; }
      main .swiper-wrapper .swiper-slide .hero-content span {
        color: #C21A1A;
        font-size: 1.8rem;
        font-weight: bolder; }
      main .swiper-wrapper .swiper-slide .hero-content h1 {
        font-size: 3.2rem;
        font-weight: 700;
        color: #FFF;
        margin-bottom: 2rem; }
      main .swiper-wrapper .swiper-slide .hero-content .element {
        display: inline-block;
        text-align: center;
        background-color: #C21A1A;
        font-size: 1.2rem;
        font-weight: 600;
        color: #FFF;
        padding: 0.5rem 1rem;
        text-transform: uppercase;
        transform: skew(-20deg); }
        main .swiper-wrapper .swiper-slide .hero-content .element .content-element {
          transform: skew(20deg); }
          main .swiper-wrapper .swiper-slide .hero-content .element .content-element a {
            color: #FFF; }
        main .swiper-wrapper .swiper-slide .hero-content .element:hover {
          background-color: #e84f4f; }

main .about, main .about .container {
  min-height: 90vh;
  width: 100%;
  background-color: #19191a;
  background-image: url(../img/about-bg.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }
  main .about .container {
    gap: 5rem;
    padding: 0 10%; }
    @media (max-width: 968px) {
      main .about .container {
        flex-wrap: wrap; } }
    @media (max-width: 500px) {
      main .about .container {
        gap: 2rem;
        padding: 0 2%; } }
    main .about .container .video {
      margin-top: 2rem; }
    main .about .container .content {
      max-width: 800px;
      padding: 2rem 1.5rem;
      color: #FFF;
      border-top: 3px solid #FFF;
      border-width: 50%; }
      @media (max-width: 768px) {
        main .about .container .content {
          padding: 2rem 2%; } }
      main .about .container .content h2 {
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-weight: 800;
        font-style: italic;
        font-size: 2rem;
        margin-bottom: 2rem; }
        @media (max-width: 600px) {
          main .about .container .content h2 {
            font-size: 1.8rem; } }
      main .about .container .content p {
        letter-spacing: 1px;
        margin-bottom: 3rem;
        line-height: 1.8rem; }
      main .about .container .content .element {
        display: inline-block;
        text-align: center;
        background-color: #C21A1A;
        font-size: 1.2rem;
        font-weight: 600;
        color: #FFF;
        padding: 0.5rem 1rem;
        text-transform: uppercase;
        transform: skew(-20deg); }
        main .about .container .content .element .content-element {
          transform: skew(20deg); }
          main .about .container .content .element .content-element a {
            color: #FFF; }
        main .about .container .content .element:hover {
          background-color: #e84f4f; }

main .shopping {
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 886px) {
    main .shopping {
      flex-direction: column;
      width: 100%; } }
  main .shopping div {
    height: 100%;
    width: 50%;
    height: 20rem;
    background-position: center; }
    @media (max-width: 886px) {
      main .shopping div {
        width: 100%; } }
    main .shopping div .content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      position: relative;
      overflow: hidden;
      background: linear-gradient(130deg, rgba(232, 79, 79, 0.2), rgba(232, 79, 79, 0.1)); }
      main .shopping div .content img {
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
        animation: zoom-in 20s ease-in-out infinite; }

@keyframes zoom-in {
  0% {
    transform: scale(1.2); }
  50% {
    transform: scale(2); }
  100% {
    transform: scale(1.2); } }
      main .shopping div .content .product-title {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center; }
        main .shopping div .content .product-title h2 {
          color: #FFF;
          font-size: 2.8rem;
          text-transform: uppercase;
          margin-right: 2rem; }
        main .shopping div .content .product-title a {
          color: #FFF;
          font-size: 2rem; }

main .services {
  min-height: 70vh;
  margin-bottom: 2rem; }
  main .services .container {
    padding: 0 10%; }
    @media (max-width: 600px) {
      main .services .container {
        padding: 0 2%; } }
    main .services .container .card {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem 0;
      gap: 3rem; }
      @media (max-width: 978px) {
        main .services .container .card {
          flex-wrap: wrap; } }
      main .services .container .card .img {
        flex: 1 1 40rem;
        height: 600px;
        width: 560px;
        overflow: hidden;
        position: relative; }
        main .services .container .card .img::before {
          content: "";
          position: absolute;
          background-color: #C21A1A;
          width: 20rem;
          height: 20rem;
          top: 0;
          left: 0;
          border-radius: 0px 25px 0 25px;
          z-index: -1; }
        main .services .container .card .img::after {
          content: "";
          position: absolute;
          background-color: #C21A1A;
          width: 20rem;
          height: 20rem;
          bottom: 0;
          right: 0;
          border-radius: 0px 25px 0 25px;
          z-index: -1; }
        main .services .container .card .img img {
          padding: 1rem;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center; }
      main .services .container .card .content {
        flex: 1 1 40rem;
        background-color: #FFF;
        padding: 3rem;
        text-align: center; }
        main .services .container .card .content h3 {
          font-family: 'Montserrat', sans-serif;
          text-transform: uppercase;
          font-weight: 800;
          font-style: italic;
          font-size: 1.8rem;
          margin-bottom: 1.5rem;
          text-align: justify; }
          @media (max-width: 600px) {
            main .services .container .card .content h3 {
              font-size: 1.4rem; } }
          main .services .container .card .content h3 i {
            margin-right: 15px;
            background-color: #C21A1A;
            border-radius: 50%;
            padding: 1.8rem;
            color: #FFF; }
        main .services .container .card .content p {
          font-size: 1.2rem;
          margin-bottom: 2rem;
          text-align: justify; }
          @media (max-width: 600px) {
            main .services .container .card .content p {
              font-size: 1rem; } }
        main .services .container .card .content .element {
          display: inline-block;
          text-align: center;
          background-color: #C21A1A;
          font-size: 1.2rem;
          font-weight: 600;
          color: #FFF;
          padding: 0.5rem 1rem;
          text-transform: uppercase;
          transform: skew(-20deg); }
          main .services .container .card .content .element .content-element {
            transform: skew(20deg); }
            main .services .container .card .content .element .content-element a {
              color: #FFF; }
          main .services .container .card .content .element:hover {
            background-color: #e84f4f; }

main .banner {
  min-height: 40vh;
  background: linear-gradient(-55deg, #e84f4f 29%, #C21A1A 29%, #C21A1A 68%, #e84f4f 68%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 3rem;
  position: relative; }
  main .banner .content {
    max-width: 500px;
    min-height: 100%;
    text-align: center; }
    main .banner .content h2 {
      color: #FFF;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      font-weight: 800;
      font-style: italic;
      font-size: 2rem;
      padding: 0;
      padding-bottom: 1.5rem; }
    main .banner .content p {
      color: #FFF;
      font-size: 1.4rem; }
  main .banner img {
    position: absolute;
    bottom: 0;
    right: 5rem; }

main .pricing {
  min-height: 80vh;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center; }
  main .pricing .img {
    height: 100%; }
    main .pricing .img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  main .pricing .pricing-container {
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (max-width: 900px) {
      main .pricing .pricing-container {
        flex-direction: column; } }
    main .pricing .pricing-container .img {
      flex: 1 1;
      height: 100%; }
    main .pricing .pricing-container .info-container {
      flex: 1 1;
      height: 100%;
      padding: 3rem;
      background-image: url(../img/about-bg.png); }
      @media (max-width: 600px) {
        main .pricing .pricing-container .info-container {
          padding: 1.5rem 1rem; } }
      main .pricing .pricing-container .info-container h2 {
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-weight: 800;
        font-style: italic;
        font-size: 2rem;
        color: #FFF; }
      main .pricing .pricing-container .info-container h3 {
        font-size: 2.2rem;
        color: #FFF;
        margin: 1rem 0; }
      main .pricing .pricing-container .info-container p {
        color: #FFF;
        letter-spacing: 1px;
        margin-bottom: 1.5rem; }
      main .pricing .pricing-container .info-container ul {
        margin-bottom: 3rem; }
        @media (max-width: 600px) {
          main .pricing .pricing-container .info-container ul {
            line-height: 1rem; } }
        main .pricing .pricing-container .info-container ul li {
          color: #FFF;
          font-size: 1rem;
          padding: 1rem 0; }
          @media (max-width: 600px) {
            main .pricing .pricing-container .info-container ul li {
              font-size: 1rem; } }
          main .pricing .pricing-container .info-container ul li i {
            color: #C21A1A;
            margin-right: 1rem; }
      main .pricing .pricing-container .info-container a {
        display: inline-block;
        text-align: center;
        background-color: #C21A1A;
        font-size: 1.2rem;
        font-weight: 600;
        color: #FFF;
        padding: 0.5rem 1rem;
        text-transform: uppercase;
        transform: skew(-20deg); }
        main .pricing .pricing-container .info-container a .content-element {
          transform: skew(20deg); }
          main .pricing .pricing-container .info-container a .content-element a {
            color: #FFF; }
        main .pricing .pricing-container .info-container a:hover {
          background-color: #e84f4f; }

main .products {
  min-height: 100vh;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  main .products .container-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem; }
    main .products .container-products .card {
      overflow: hidden;
      width: 400px;
      border: 1px solid #beb9b9; }
      main .products .container-products .card:hover {
        box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.3); }
      main .products .container-products .card .img {
        height: 500px;
        width: 400px; }
        main .products .container-products .card .img img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      main .products .container-products .card .content {
        padding: 1rem; }
        main .products .container-products .card .content p {
          margin-bottom: 1rem; }
        main .products .container-products .card .content .element {
          display: inline-block;
          text-align: center;
          background-color: #C21A1A;
          font-size: 1.2rem;
          font-weight: 600;
          color: #FFF;
          padding: 0.5rem 1rem;
          text-transform: uppercase;
          transform: skew(-20deg);
          font-size: 1rem;
          width: 100%; }
          main .products .container-products .card .content .element .content-element {
            transform: skew(20deg); }
            main .products .container-products .card .content .element .content-element a {
              color: #FFF; }
          main .products .container-products .card .content .element:hover {
            background-color: #e84f4f; }

main .FAQ {
  min-height: 40rem;
  padding: 0 10%;
  background-color: #FFF; }
  @media (max-width: 600px) {
    main .FAQ {
      padding: 0 2%; } }
  main .FAQ h2 {
    color: #000;
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase; }
  main .FAQ span {
    font-size: 1.2rem; }
  main .FAQ .container {
    flex-direction: column;
    margin-top: 3rem; }
    main .FAQ .container .container-question {
      background-color: #FFF;
      border: 1px solid #cecccc;
      margin: 1rem 0;
      padding: 1rem;
      cursor: pointer; }
      c main .FAQ .container .container-question:hover {
        color: #000; }
      main .FAQ .container .container-question .question {
        color: #000;
        display: flex;
        justify-content: space-between; }
      main .FAQ .container .container-question .answer {
        text-align: justify;
        max-height: 0;
        opacity: 0;
        transition: 0.3 ease all;
        color: #000; }
    main .FAQ .container .is-active {
      border: 1px solid #e84f4f; }
      main .FAQ .container .is-active .answer {
        opacity: 1;
        max-height: fit-content;
        padding: 1rem 0; }
      main .FAQ .container .is-active .question i {
        transform: rotate(180deg);
        transition: .1s; }

.footer {
  background-color: #000;
  padding: 0 10%; }
  .footer .container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center; }
    @media (max-width: 768px) {
      .footer .container-flex {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center; } }
    .footer .container-flex div {
      padding: .5rem 0; }
    .footer .container-flex .logo img {
      width: 80px; }
    @media (max-width: 500px) {
      .footer .container-flex .logo {
        display: none; } }
    .footer .container-flex .social {
      font-size: 1.8rem;
      text-align: center; }
      .footer .container-flex .social a {
        color: #FFF;
        margin: 0 .5rem; }
        .footer .container-flex .social a:hover .fa-youtube {
          color: #C21A1A; }
        .footer .container-flex .social a:hover .fa-instagram {
          color: transparent;
          background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
          background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
          background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
          background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
          background-clip: text;
          -webkit-background-clip: text; }
    .footer .container-flex .copyright {
      color: #FFF; }
